body{
    background-color: black;
    color:white;
    
}

h1{
    margin-left: 45%;
}

.buttons button{
    display:block;
    display: flex;  
    justify-content: center;  
    margin-left: 37.5%;
    
    padding: 2%;
    width: 25%;
    font-size: large;
    margin-top: 2%;
}


button{
    background-color:  #7800f5;
    
}



#back {
    background-color: black;
    align-items: left;
    margin-top: 5%;
    
}

#home {
    background-color: black;
   margin-left: 75%;
   margin-top: 10%;
}