body {
    background-color: #7800f5;
}
h1 {
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;

}

p {
    font-size: 20px;
}
#title {
   color: white;
   text-align: center;
}

#play {
   color: rgb(255, 255, 255);
   text-align: center;
}
.next-button{
    background-color: rebeccapurple;
    color: white;
    padding: 2%;
   font-size: 60px;
   cursor: pointer;
   font-family: serif;
   top: 50%;
   border: rebeccapurple;
   position: fixed;
    top: 600px;
    left: 45%
}
@keyframes bgcolor {
    0% {
        background-color: #7800f5
    }

    50% {
        background-color: pink
    }
    100%{
        background-color: #7800f5;
    }
}
body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}